body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(209, 210, 210);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    gap: 20px;
    padding: 0 100px;
    text-align: center;
}

.nav {
    background-color: #0808083b;
    color: #ffffff2e;
}

a {
    text-decoration: none;
    color: black;
}


.logo {
    float: left;
    height: 3rem;
    width: 3rem;
}

.guia {
    position: fixed;
    display: inline-block;
}

.guia:hover .menu {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    background-color: #868484c0;
    min-width: 160px;
}

.menu li {
    color: rgba(255, 255, 255, 0.33);
    padding: 12px 16px;
    list-style: none;
    display: block;
}

.menu li:hover {
    background-color: #ddd;
   
}

img { 
    display: block;
    max-width: 50%;
    height: auto;
    margin: auto;
    padding-top: 5px;
    border-radius: 17px;
}

#Haikyuu, #Horimiya, #MHA, #RK, #TR, #SxF {
    background-color: rgba(129, 129, 129, 0.994);
    color: black;
    border-radius: 8px;
}
