 /*max-width: 40%;
 height:180px;
    width:300px;*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding:0px;
   
}
.grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr;   
   gap: 20px;
   padding-left: 100px;
   padding-right: 100px;
} 
li{
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
img{ 
    display: block;
    max-width: 50%;
    height: auto;
}
#Haikyuu,#Horimiya,#MHA,#RK,#TR,#SxF{
    background-color: rgba(50, 50, 51, 0.915);
    color: rgb(249, 249, 249);
    border-radius: 8px;
}